/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

/* HEADER - NAVBAR */
header {
  display: flex;
  justify-content: space-around;
  align-items: right;
  background: black;
}

.logo {
  color: white;
  padding: 20px;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

nav {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: orange;
}

.navbar_main--items {
  color: white;
  font-size: 2rem;
  font-family: "Courier Prime", sans-serif;
}

.navbar_main--items:hover {
  text-transform: uppercase;
  text-decoration: underline;
}

ul {
  padding: 10px;
  display: flex;
  list-style-type: none;
}

li {
  padding: 10px;
  font-size: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Courier Prime", sans-serif;
}

p {
  padding: 10px;
}

/* HERO SECTION */

.hero_main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url(./img/beer-bar-background.jpg);
}

.hero_main::before {
  background-color: rgba(0, 0, 0, 0.37);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.hero_main h1 {
  padding-bottom: 30px;
  font-size: 4rem;
  z-index: 100;
}

.hero_main h2 {
  padding-bottom: 20px;
  font-size: 2.5rem;
  z-index: 100;
}

.hero_main button {
  border: gray 2px solid;
  background-color: black;
  color: white;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
  z-index: 100;
}

.location,
.gallery,
.beer,
.team {
  margin: 0 auto;
  max-width: 90%;
}

.location h3,
.gallery h3,
.beer h3,
.team h3 {
  padding: 20px;
  text-align: center;
  font-size: 2.8rem;
}

.top {
  padding-bottom: 10px;
  text-align: center;
}

/* GALLERY PICS */

.gallery-pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.gallery-pics img {
  padding-top: 10px;
}

.gallery-pics img:last-child {
  width: 100%;
}

/* BEER // PRODUCTS */

.beer h4 {
  font-size: 1.7rem;
  padding: 10px;
}

.beer-types-container {
  display: grid;
  grid-template-columns: 1fr, 1fr;
}

.beer-types-container figcaption {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

/* TEAM PICS */

.our-team {
  display: flex;
  flex-wrap: wrap;
}

/* FOOTER */

footer {
  background-color: black;
  color: white;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}
